/* BottomNav.module.css */

/* Container for BottomNav */
.Footer {
    position: fixed; /* Fixed position */
    bottom: 0; /* Align to the bottom of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 98%; /* Take up the full width */
    background-color: #fff; /* White background color */
    padding: 20px 0; /* Adjust padding as needed */
    z-index: 999; /* Ensure it stays on top of other content */
    border: 5px solid rgb(31, 218, 177);
    border-radius: 5px;
    animation: borderAnimation 5s infinite alternate; /* Removed transition property */
    margin: 10px;
}

@keyframes borderAnimation {
    0% { border-color: rgb(226, 129, 205); } /* Red border color */
    25% { border-color: rgb(236, 38, 197); } /* Green border color */
    50% { border-color: rgb(131, 254, 223); } /* Blue border color */
    75% { border-color: rgb(234, 116, 205); } /* Yellow border color */
    100% { border-color: rgb(31, 218, 177); } /* Initial border color */
}

.FooterContainer {
    max-width: 1200px; /* Limit maximum width */
    margin: 0 auto; /* Center the content */
    display: flex;
    justify-content: space-around; /* Evenly space the content */
    align-items: center; /* Center the content vertically */

}

/* Footer links */
.FooterLinks a {
    color: #000; /* Black text color */
    text-decoration: none; /* Remove underline */
    margin-right: 20px; /* Adjust spacing between links */
    font-weight: bold; /* Bold font weight */
    transition: color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    padding: 10px 20px; /* Adjust padding as needed */
    margin-right: 10px; /* Adjust spacing between buttons */
    border: 2px solid transparent; /* Transparent border */
    border-radius: 5px; /* Rounded corners */
    background-color: #09e9d3; /* Romantic pink background */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    font-size: 16px; /* Default font size */
    font-weight: bold;
}

.FooterLinks a:hover {
    color: #ff1493; /* Pink text color on hover */
    box-shadow: 0 0 10px rgba(255, 20, 147, 0.5); /* Box shadow effect on hover */
}

/* Social media icons */
.SocialMedia a {
    color: #000; /* Black text color */
    text-decoration: none; /* Remove underline */
    margin-right: 10px; /* Adjust spacing between icons */
    font-size: 24px; /* Icon size */
    transition: color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

    padding: 10px 20px; /* Adjust padding as needed */
    margin-right: 10px; /* Adjust spacing between buttons */
    border: 2px solid transparent; /* Transparent border */
    border-radius: 5px; /* Rounded corners */
    background-color: #a26ec9; /* Romantic pink background */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    font-size: 18px; /* Default font size */
    font-weight: bold;
}

.SocialMedia a:hover {
    color: #ff1493; /* Pink color on hover */
    box-shadow: 0 0 10px rgba(255, 20, 147, 0.5); /* Box shadow effect on hover */
}

/* Copyright */
.Copyright {
    color: #000; /* Black text color */
    font-size: 14px; /* Font size */
    transition: box-shadow 0.3s ease; /* Smooth transition */

    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #099ee9;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.Copyright:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow effect on hover */
}
